@use 'ui/index';
@import '@fancyapps/ui/dist/fancybox/fancybox.css';
@import '@fancyapps/ui/dist/carousel/carousel.css';
@import '@fancyapps/ui/dist/carousel/carousel.autoplay.css';
@import '@fancyapps/ui/dist/carousel/carousel.thumbs.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-neutral-100;
}

.f-carousel {
	@apply max-h-[600px];
	.f-carousel__slide {
		border-radius: 6px !important;
		overflow: hidden !important;
	}
	--f-button-width: 38px;
	--f-button-height: 38px;

	--f-button-svg-width: 16px;
	--f-button-svg-height: 16px;
	--f-button-svg-stroke-width: 2.5;

	--f-button-color: rgb(15, 74, 158);
	--f-button-border-radius: 50%;
	--f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
	--f-button-bg: #e5e7eb;
	--f-button-hover-bg: #f9f9f9;
	--f-button-active-bg: #f0f0f0;
}
