@tailwind components;

@layer components {
	.alert-primary {
		@apply p-2 text-sm text-blue-800 rounded-lg bg-blue-50;
	}
	.alert-danger {
		@apply p-2 text-sm text-red-800 rounded-lg bg-red-50;
	}
	.alert-warning {
		@apply p-2 text-sm text-yellow-800 rounded-lg bg-yellow-50;
	}
	.alert-success {
		@apply p-2 text-sm text-green-800 rounded-lg bg-green-50;
	}
}
