@tailwind components;

@layer components {
	.btn-primary {
		@apply px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded hover:bg-blue-800 disabled:bg-blue-500 focus:ring-2 focus:outline-none;
	}
	.btn-success {
		@apply px-3 py-2 text-xs font-medium text-center text-white bg-green-700 rounded hover:bg-green-800 disabled:bg-green-500 focus:ring-2 focus:outline-none;
	}
	.btn-danger {
		@apply px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded hover:bg-red-800 disabled:bg-red-500 focus:ring-2 focus:outline-none;
	}
	.btn-warning {
		@apply px-3 py-2 text-xs font-medium text-center text-white bg-yellow-400 rounded hover:bg-yellow-500 disabled:bg-yellow-200 focus:ring-2 focus:outline-none;
	}
	.btn-secondary {
		@apply px-3 py-2 text-xs font-medium text-center text-white bg-purple-700 rounded hover:bg-purple-800 disabled:bg-purple-500 focus:ring-2 focus:outline-none;
	}
}
