@tailwind components;

@layer components {
  .btn-primary {
    @apply px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded hover:bg-blue-800 disabled:bg-blue-500 focus:ring-2 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 dark:disabled:bg-blue-500 dark:disabled:select-none;
  }
  .btn-success {
    @apply px-3 py-2 text-xs font-medium text-center text-white bg-green-700 rounded hover:bg-green-800 disabled:bg-green-500 focus:ring-2 focus:outline-none dark:bg-green-700 dark:hover:bg-green-800 dark:focus:ring-green-800 dark:disabled:bg-green-500 dark:disabled:select-none;
  }
  .btn-danger {
    @apply px-3 py-2 text-xs font-medium text-center text-white bg-red-700 rounded hover:bg-red-800 disabled:bg-red-500 focus:ring-2 focus:outline-none dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 dark:disabled:bg-red-500 dark:disabled:select-none;
  }
  .btn-warning {
    @apply px-3 py-2 text-xs font-medium text-center text-white bg-yellow-400 rounded hover:bg-yellow-500 disabled:bg-yellow-200 focus:ring-2 focus:outline-none  dark:focus:ring-yellow-900 dark:disabled:bg-yellow-300 dark:disabled:select-none;
  }
  .btn-secondary {
    @apply px-3 py-2 text-xs font-medium text-center text-white bg-purple-700 rounded hover:bg-purple-800 disabled:bg-purple-500 focus:ring-2 focus:outline-none dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 dark:disabled:bg-purple-500 dark:disabled:select-none;
  }
}
